.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 27px;
  text-align: center;
  font-family: Arial;
}

h2 {
  font-size: 33px;
  text-align: center;
  display: inline-block;
  font-family: Arial;
}

h3 {
  font-size: 27px;
  text-align: center;
  display: inline;
  font-family: Arial;
}

h4 {
  font-size: 27px;
  text-align: center;
  display: inline;
  font-family: Arial;
}

h5 {
  font-size: 27px;
  text-align: center;
  font-family: Arial;
}



.one{
	
	margin: 0 auto;
	display: flex;
	justify-content: center;
    padding: 10px;
}

.two{
	margin: 0 auto;
	display: flex;
	justify-content: center;
    padding: 10px;
}

.three{
	margin: 0 auto;
	display: flex;
	justify-content: center;
    padding: 10px;
}

.table{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 600px;

}

.graph{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
	height: 500px;
}